body {
    max-width: 1100px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}
svg {
    display: block;
    margin: auto;
}
.head {
    width: 100%;
    position: relative;
}
.head h1 {
    font-size: 3.5em;
}
.head h2 {
    font-size: 2em;
}
.text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    display: block !important;

    color: black;

}
.head img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    width: 100%;
    height: 500px;
}

/* Plot styling */

.last svg, div {
    display: inline !important;
}
#menu {
    display: block !important;
    margin: auto;
}

/* map */

.feature {
    fill: #ccc;
}
.mesh {
    fill: #FCE88D;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
}
.outline {
    fill: #ddd;
    stroke: #000;
    stroke-width: 1.5px;
}

/* column chart */

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.6s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 20px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "2003";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "2015";
    padding-right: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.6s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.arrow-right {
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #007bff;
}
.arrow-left {
    float: left;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 40px 20px 0;
    border-color: transparent #007bff transparent transparent;
}
.DataBtn {
    display: inline-block;
    border: none;
    color: #121212;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    font-family: Arial Black;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D, 0 2px 4px 0 #D4D4D4;
    background-color: #5644FC;
}
.DataBtn:hover, .DataBtn:active {
    border: none;
    color: #FFF6F1;
    box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -moz-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE, inset 0 -1px 0 0 #E3C852, inset 0 0 0 1px #FCE88D;
    background-color: #615CFF;
}
.fun {
    color: transparent;
}
svg {
    display: block;
    margin: auto;
}
body {
    text-align: center;
}
#wrapper {
    text-align: left;
    width: 800px;
    margin: 0 auto;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 150px;
    height: 25px;
    padding: 2px;
    font-size: 10px;
    background: #FFFFE0;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}
